:root {
    --font-primary: 'Arial';
    --color-note: #171a1c;
    --color-white: #ffffff;
    --color-accent: #1478ff;
    --color-accent-05: #f2f5fc;
    --color-primary: #171a1c;
    --color-primary-90: #23277a;
    --color-primary-80: #3a4146;
    --color-primary-70: #515b62;
    --color-primary-60: #68757e;
    --color-primary-50: #818e97;
    --color-primary-40: #9da7ae;
    --color-primary-30: #b9c0c5;
    --color-primary-20: #d5d9dc;
    --color-primary-10: #f1f2f3;

    --color-alert-success: #69c95a;
    --color-alert-warning: #f9ca79;
    --color-alert-severe: #ff5555;

}
.alert__success {
    background-color: var(--color-alert-success);
}
.alert__warning {
    background-color: var(--color-alert-warning);

}
.alert__severe {
    background-color: var(--color-alert-severe);
}
.text, .title, .dashboard__kpi_title, .dashboard__kpi_value {
    font-family: var(--font-primary);
}
.text { 
    color: var(--color-primary-60);
    line-height: 1.32;
    font-size: 14px;
}
.xs {
    font-size: 14px;
    color: var(--color-primary-60);
}
.dashboard__kpi_title, .dashboard__kpi_value {
    margin-block: 0;
}
.dashboard__kpi_title {
    color: var(--color-primary);
    font-size: 14px;
    margin-bottom: 4px;
}
.dashboard__kpi_value {
    line-height: 1;
    color: var(--color-accent);
    font-size: 20px;
}
.lamp {
    flex-wrap: wrap;
    top: 0px;
    height: 64px;
    position: fixed;
    z-index: 50000;
    justify-content: center;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-primary-20);
    width: 100vw;
}
.lamp__nav {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 24px;
}
.width {
    width: min(80vw, 1440px);
}
.lamp__dashboard { 
    width: 100%;
    background-color: var(--color-white);
    min-height: fit-content;
}
.dashboard__body {
    height: max-content;
    padding: 24px 0;
    display: grid;
    grid-template-areas: 
        "col1 col1 col2 col2 col3 col3"
        "col4 col4 col4 col5 col5 col5";
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
    margin: auto;
}
.lamp-icon {
    height: 24px;
    width: auto;
    margin-right: 8px;
}
.dashboard__card {
    display: grid;
    grid-template-rows: 1fr min-content 4px;
    border: 1px solid var(--color-primary-10);
    border-radius: 4px;
}
.col1, .col2, .col3, .col4, .col5 {
    min-height: 140px;
}
.col1 {
    grid-area: col1;
}
.col2 {
    grid-area: col2;
}
.col3 {
    grid-area: col3;
}
.col4 {
    grid-area: col4;
}
.col5 {
    grid-area: col5;
}
.sp20 {
    padding: 12px;
}
.logo {
    max-width: fit-content;
    height: 24px;
    margin-right: 24px;
}
.flex, .flex-end, .lamp {
    display: flex;
}
.flex-end {
    flex-grow: 2;
    justify-content: flex-end;
}
.dashboard__kpi {
    font-size: 18px;
    color: var(--color-accent);
}
.hide {
    display: none;
}
.button__primary {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-transform: initial;
    height: auto;
    width: auto;
    color: var(--color-primary);
    padding: 12px 24px;
}
.button__primary:hover {
    color: var(--color-accent);
}
#seo-score {
    color: var(--color-accent);
    border: 1px solid var(--color-primary-10);
    font-size: 18px;
    border-radius: 4px;
    padding: 8px;
    margin: 0px 8px;
}

.alert__text_success, .alert__text_warning, .alert__text_severe {
    line-height: 1.4;
    margin-block: 0;
}
.alert__box_success {
    color: #007201; 
}

.alert__text_warning {
    color: #785d00; 
}
.alert__text_severe {
    color: #770000;
}
.meta-box {
    margin-top: 24px;
    border: 1px solid var(--color-primary-10);
    border-radius: 4px;
    padding: 8px;
}